<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/produse_web/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/produse_web/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProdNou</servlet-name>
    <servlet-class>servlets.ProdNou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdNou</servlet-name>
    <url-pattern>/produse_web/ProdNou</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProdus</servlet-name>
    <servlet-class>servlets.UpdateProdus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProdus</servlet-name>
    <url-pattern>/produse_web/UpdateProdus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdaugaProdusInCos</servlet-name>
    <servlet-class>servlets.AdaugaProdusInCos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaProdusInCos</servlet-name>
    <url-pattern>/produse_web/AdaugaProdusInCos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrimiteComanda</servlet-name>
    <servlet-class>servlets.TrimiteComanda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrimiteComanda</servlet-name>
    <url-pattern>/produse_web/TrimiteComanda</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatusChange</servlet-name>
    <servlet-class>servlets.StatusChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusChange</servlet-name>
    <url-pattern>/produse_web/StatusChange</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ScoateProdusDinCos</servlet-name>
  	<servlet-class>produse_web.ScoateProdusDinCos</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ScoateProdusDinCos</servlet-name>
  	<url-pattern>/produse_web/ScoateProdusDinCos</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SelecteazaCategorie</servlet-name>
  	<servlet-class>servlets.SelecteazaCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SelecteazaCategorie</servlet-name>
  	<url-pattern>/produse_web/SelecteazaCategorie</url-pattern>
  </servlet-mapping>
  
</web-app>